<!DOCTYPE html>
<html lang="en">

<head>
    <title>About - My PC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Contents/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Contents/mypc.css">
    <link rel="stylesheet" href="../Contents/style.css">
</head>

<body>

    <!-- navbar section starts -->
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <a class="navbar-brand menuitem" href="../index.html">Benjyros</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menuitem" href="../index.html" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">About</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="../index.html">Portfolio</a>
                            <a class="dropdown-item" href="mypc.html">My PC</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menuitem" href="games.html" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Games</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="hangman.html">Hangman</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="projects.html" class="nav-link menuitem">
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link menuitem">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar section ends -->

    <!-- main section starts -->
    <main>
        <div class="container main">
            <p id="titel">M Y &nbsp;P C</p>
            <hr>
            <section id="collapsibles">
                <button type="button" class="collapsible">Case</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/case.png">
                    </div>
                    <div class="specs">
                        <p>Corsair Airflow</p>
                        <ul>
                            <li>Manufacturer: Corsair</li>
                            <li>Height: 45.50 cm</li>
                            <li>Length: 45.70 cm</li>
                            <li>Width: 21.60 cm</li>
                            <li>Weight: 8 kg</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Graphics card</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/graphicscard.png">
                    </div>
                    <div class="specs">
                        <p>ROG Strix RTX 2070</p>
                        <ul>
                            <li>Boost clock: 1.71 GHz</li>
                            <li>Base clock: 1.41 GHz</li>
                            <li>Max temperature: 89 &deg;C</li>
                            <li>Power consumption: 185 W</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">CPU</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/cpu.png">
                    </div>
                    <div class="specs">
                        <p>AMD Ryzen 5 3600x</p>
                        <ul>
                            <li>Processor family: Ryzen 3rd Gen</li>
                            <li>Cores: 6-Core</li>
                            <li>Threads: 12</li>
                            <li>Max clock speed: 4.40 GHz</li>
                            <li>Max TDP: 95 W</li>
                            <li>Weight: 620 g</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Motherboard</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/motherboard.png">
                    </div>
                    <div class="specs">
                        <p>ROG Strix B550-F Gaming</p>
                        <ul>
                            <li>Manufacturer: ASUS</li>
                            <li>Processor socket: AM4</li>
                            <li>BIOS type: UEFI AMI</li>
                            <li>Processor family: Ryzen 3rd generation</li>
                            <li>Number of RAM: 4 x</li>
                            <li>Max memory: 128 GB</li>
                            <li>Network connections: RJ45 2.5 Gigabit Ethernet (2x)</li>
                            <li>Number of RAM: 4 x</li>
                            <li>Length: 244 mm</li>
                            <li>Width: 305 mm</li>
                            <li>Heigth: 244 mm</li>
                            <li>Weight: 1672 g</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Cooling system</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/coolingsystem.png">
                    </div>
                    <div class="specs">
                        <p>NZXT Kraken X73</p>
                        <ul>
                            <li>Manufacturer: NZXT Gaming</li>
                            <li>Length: 47.50 cm</li>
                            <li>Width: 14.50 cm</li>
                            <li>Heigth: 18 cm</li>
                            <li>Weight: 2.26 kg</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">RAMs</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/rams.png">
                    </div>
                    <div class="specs">
                        <p>Vengeance RGB Pro</p>
                        <ul>
                            <li>Manufacturer: Corsair</li>
                            <li>Storage capacity: 2 x 16GB</li>
                            <li>Storage clock frequency: 3600 MHz</li>
                            <li>Height: 51.40 mm</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Power supply</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/powersupply.png">
                    </div>
                    <div class="specs">
                        <p>RM750x</p>
                        <ul>
                            <li>Manufacturer: Corsair</li>
                            <li>80 PLUS certificate: Gold</li>
                            <li>Fan location: Top side</li>
                            <li>Cooling method: Active cooling</li>
                            <li>Length: 15 cm</li>
                            <li>Width: 15 cm</li>
                            <li>Heigth: 15 cm</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Storage 1</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/ssd980.png">
                    </div>
                    <div class="specs">
                        <p>Samsung SSD 980 Pro</p>
                        <ul>
                            <li>Manufacturer: Samsung</li>
                            <li>Product type: SSD</li>
                            <li>Storage capacityn: 1000 GB</li>
                            <li>SSD protocol: NVMe</li>
                            <li>Read transfer speed: 7000 MB/s</li>
                            <li>Write transfer speed: 5000 MB/s</li>
                            <li>Length: 8 cm</li>
                            <li>Width: 0.20 cm</li>
                            <li>Height: 2.20 cm</li>
                            <li>Weight: 9 g</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Storage 2</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/ssd860.png">
                    </div>
                    <div class="specs">
                        <p>Samsung SSD 860 Evo</p>
                        <ul>
                            <li>Manufacturer: Samsung</li>
                            <li>Product type: SSD</li>
                            <li>Storage capacity: 1000 GB</li>
                            <li>Specs: N/A</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Storage 3</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/hdd.png">
                    </div>
                    <div class="specs">
                        <p>Seagate IronWolf 3TB</p>
                        <ul>
                            <li>Manufacturer: Seagate Technology</li>
                            <li>Product type: Hard drives</li>
                            <li>HDD capacity: 3 TB</li>
                            <li>Max speed: 5900 RPM</li>
                            <li>Length: 2.61 cm</li>
                            <li>Width: 10.16 cm</li>
                            <li>Heigth: 14.70 cm</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Mouse</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/mouse.png">
                    </div>
                    <div class="specs">
                        <p>Glorious Model O Wireless</p>
                        <ul>
                            <li>Manufacturer: Glorious PC Gaming Race</li>
                            <li>Mouse type: Gaming Mouse</li>
                            <li>Peripheral signal transmission: Wireless</li>
                            <li>Mouse sensor: Optical with light-emitting diodes</li>
                            <li>Max mouse sensor resolution: 19000 dpi</li>
                            <li>Polling rate: 1000 Hz</li>
                            <li>Number buttons: 6</li>
                            <li>Length: 66 mm</li>
                            <li>Width: 128 mm</li>
                            <li>Heigth: 37.50 mm</li>
                            <li>Weigth: 69 g</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Keyboard</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/keyboard.png">
                    </div>
                    <div class="specs">
                        <p>Ducky One 2 Mini</p>
                        <ul>
                            <li>Manufacturer: Ducky</li>
                            <li>Keyboard type: Gaming keyboard, Mechanical keyboard</li>
                            <li>Key technology: MX Brown</li>
                            <li>Keyboard layout: Germany</li>
                            <li>Length: 108 mm</li>
                            <li>Width: 302 mm</li>
                            <li>Heigth: 40 mm</li>
                            <li>Weigth: 590 g</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Headset</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/headset.png">
                    </div>
                    <div class="specs">
                        <p>Beyerdynamic DT 990Pro </p>
                        <ul>
                            <li>Manufacturer: Beyerdynamic</li>
                            <li>Headphone output: Stereo</li>
                            <li>Peripheral signal transmission: Cable</li>
                            <li>Isolation: Open</li>
                            <li>Frequency range: 5 - 35000 Hz</li>
                            <li>Sensitivity: 96 dB</li>
                            <li>Max noise level: 96 dB</li>
                            <li>Impedance: 250 &#8486;</li>
                            <li>Adio Connections: Jack 3.5mm (1x), Jack 6.3mm (1x)</li>
                            <li>Weigth: 250 g</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Microphone</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/microphone.png">
                    </div>
                    <div class="specs">
                        <p>HyperX QuadCast</p>
                        <ul>
                            <li>Manufacturer: HyperX</li>
                            <li>Microphone type: Condenser microphone, Speaker microphone, Studio microphone</li>
                            <li>Sensitivity: -36 dB</li>
                            <li>Self-noise: 90 dB(A)</li>
                            <li>Frequency range: 20 - 20000 Hz</li>
                            <li>Length: 3000 mm</li>
                            <li>Weigth: 710 g</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Monitor</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/monitor.png">
                    </div>
                    <div class="specs">
                        <p>Glorious Model O Wireless</p>
                        <ul>
                            <li>Manufacturer: Glorious PC Gaming Race</li>
                            <li>Mouse type: Gaming Mouse</li>
                            <li>Peripheral signal transmission: Wireless</li>
                            <li>Mouse sensor: Optical with light-emitting diodes</li>
                            <li>Max mouse sensor resolution: 19000 dpi</li>
                            <li>Polling rate: 1000 Hz</li>
                            <li>Number buttons: 6</li>
                            <li>Length: 66 mm</li>
                            <li>Width: 128 mm</li>
                            <li>Heigth: 37.50 mm</li>
                            <li>Weigth: 69 g</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Webcam</button>
                <div class="content">
                    <div class="picture">
                        <img class="component" src="../Images/pc/webcam.png">
                    </div>
                    <div class="specs">
                        <p>AOC 27G2U/BK</p>
                        <ul>
                            <li>Manufacturer: AOC</li>
                            <li>Image resolution: 1920 x 1080 pixels</li>
                            <li>Display size (inches): 27 "</li>
                            <li>Screen size (cm): 68.60 cm</li>
                            <li>Image resolution: Full HD</li>
                            <li>Aspect ratio: 16:9</li>
                            <li>Response time: 1 ms</li>
                            <li>Refresh rate: 144 Hz</li>
                            <li>Colour depth: 8 bits (256 colors)</li>
                            <li>Power consumption: 28 W</li>
                            <li>Length: 227.40 mm</li>
                            <li>Width: 612 mm</li>
                            <li>Heigth: 396.90 mm</li>
                            <li>Weigth: 5.10 kg</li>
                        </ul>
                    </div>
                </div>
                <button type="button" class="collapsible">Extra</button>
                <div class="content" id="lastCollapsible">
                    <div class="picture">
                        <img class="component" src="../Images/pc/extra.png">
                    </div>
                    <div class="specs">
                        <p>Wacom Intuos S BT</p>
                        <ul>
                            <li>Manufacturer: Wacom</li>
                            <li>Product type: Graphics tablets</li>
                            <li>Peripheral connection: Bluetooth, USB</li>
                            <li>Denouements: 2540 lpi</li>
                            <li>Active touch surface: 152 x 95 mm</li>
                            <li>Length: 160 mm</li>
                            <li>Width: 200 mm</li>
                            <li>Heigth: 8.80 mm</li>
                            <li>Weigth: 250 g</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- main section ends -->

    <!-- footer section starts -->
    <footer>
        <div class="container">
            <button onclick="topFunction()" id="goTopBtn" title="Go to top">&#x21be</button>
            <div id="footerlogo">
                <a class="footerlogo" href="https://github.com/benjyros" target="_blank">
                    <img src="../Images/logos/github-logo.png">
                </a>
                <a class="footerlogo" href="https://www.youtube.com/channel/UCFp7FoCb2FkXO66FTGx8WzA" target="_blank">
                    <img src="../Images/logos/yt-logo.png">
                </a>
                <a class="footerlogo" href="https://twitter.com/benjyros" target="_blank">
                    <img src="../Images/logos/twitter.png">
                </a>
                <a class="footerlogo" href="https://www.instagram.com/benjyros" target="_blank">
                    <img src="../Images/logos/insta-logo.png">
                </a>
                <a class="footerlogo" href="https://www.twitch.tv/benjyros" target="_blank">
                    <img src="../Images/logos/twitch-logo.png">
                </a>
                <a class="footerlogo" href="../Images/snapcode.png" target="_blank">
                    <img src="../Images/logos/snap-logo.png">
                </a>
            </div>
            <div style="margin-top:20px;">
                <p id="copyright">
                    <span>&#169;</span> by benjamin peterhans 2022. all rights reserved.<br>made with <i class="fa fa-heart" style="color:red"></i>.
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section ends -->

    <!-- script section starts -->
    <script src="../Scripts/jQuery/jquery-3.6.1.min.js"></script>
    <script src="../Scripts/script.js"></script>
    <script src="../Scripts/goTopBtn.js"></script>
    <script src="../Scripts/collapsible.js"></script>
    <script src="../Scripts/Bootstrap/popper.min.js"></script>
    <script src="../Scripts/Bootstrap/bootstrap.min.js"></script>
    <!-- script section ends -->
</body>

</html>