<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Contents/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Contents/projects.css">
    <link rel="stylesheet" href="../Contents/style.css">
</head>

<body>

    <!-- navbar section starts -->
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <a class="navbar-brand menuitem" href="../index.html">Benjyros</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menuitem" href="../index.html" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">About</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="../index.html">Portfolio</a>
                            <a class="dropdown-item" href="mypc.html">My PC</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menuitem" href="games.html" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Games</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="hangman.html">Hangman</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link menuitem">
                            Games
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="projects.html" class="nav-link menuitem">
                            Projects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link menuitem">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar section ends -->

    <!-- main section starts -->
    <main>
        <div class="container main">
            <p id="titel">M Y &nbsp;P R O J E C T S</p>
            <hr>
            <section class="row" id="container">
                <div class="card">
                    <a href="https://github.com/benjyros/Car-Parking-Simulator-V1.git" target="_blank">
                        <img class="img" src="../Images/projects/carparking.png" title="Car-Parking Simulator V1"
                            alt="YouTube Video" />
                        <div class="hidden">
                            <div class="titel">
                                Car-Parking Simulator V1
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://github.com/benjyros/Car-Parking-Simulator-V2.git" target="_blank">
                        <img class="img" src="../Images/projects/carparking.png" title="Car-Parking Simulator V2"
                            alt="YouTube Video" />
                        <div class="hidden">
                            <div class="titel">
                                Car-Parking Simulator V2
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://github.com/benjyros/Memorygame.git" target="_blank">
                        <img class="img" src="../Images/projects/memorygame.png" title="Memorygame"
                            alt="YouTube Video" />
                        <div class="hidden">
                            <div class="titel">
                                Memorygame
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://github.com/benjyros/Mailnerver.git" target="_blank">
                        <img class="img" src="../Images/projects/mailnerver.png" title="Mailnerver"
                            alt="YouTube Video" />
                        <div class="hidden">
                            <div class="titel">
                                Mailnerver
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://github.com/benjyros/Website-Form.git" target="_blank">
                        <img class="img" src="../Images/projects/form.png" title="Website-Form" alt="YouTube Video" />
                        <div class="hidden">
                            <div class="titel">
                                Website-Form
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://github.com/benjyros/Dragon-Game.git" target="_blank">
                        <img class="img" src="../Images/projects/dragongame.png" title="Dragon-Game"
                            alt="YouTube Video" />
                        <div class="hidden">
                            <div class="titel">
                                Dragon-Game
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="https://github.com/benjyros/Datenmodelle.git" target="_blank">
                        <img class="img" src="../Images/projects/datenmodelle.png" title="Datenmodelle"
                            alt="Access Image" />
                        <div class="hidden">
                            <div class="titel">
                                Datenmodelle
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </div>
    </main>
    <!-- main section ends -->

    <!-- footer section starts -->
    <footer>
        <div class="container">
            <button onclick="topFunction()" id="goTopBtn" title="Go to top">&#x21be</button>
            <div id="footerlogo">
                <a class="footerlogo" href="https://github.com/benjyros" target="_blank">
                    <img src="../Images/logos/github-logo.png">
                </a>
                <a class="footerlogo" href="https://www.youtube.com/channel/UCFp7FoCb2FkXO66FTGx8WzA" target="_blank">
                    <img src="../Images/logos/yt-logo.png">
                </a>
                <a class="footerlogo" href="https://twitter.com/benjyros" target="_blank">
                    <img src="../Images/logos/twitter.png">
                </a>
                <a class="footerlogo" href="https://www.instagram.com/benjyros" target="_blank">
                    <img src="../Images/logos/insta-logo.png">
                </a>
                <a class="footerlogo" href="https://www.twitch.tv/benjyros" target="_blank">
                    <img src="../Images/logos/twitch-logo.png">
                </a>
                <a class="footerlogo" href="../Images/snapcode.png" target="_blank">
                    <img src="../Images/logos/snap-logo.png">
                </a>
            </div>
            <div style="margin-top:20px;">
                <p id="copyright">
                    <span>&#169;</span> by benjamin peterhans 2022. all rights reserved.<br>made with <i
                        class="fa fa-heart" style="color:red"></i>.
                </p>
                <p>
                    This project-page is still under construction
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section ends -->

    <!-- script section starts -->
    <script src="../Scripts/jQuery/jquery-3.6.1.min.js"></script>
    <script src="../Scripts/script.js"></script>
    <script src="../Scripts/goTopBtn.js"></script>
    <script src="../Scripts/Bootstrap/popper.min.js"></script>
    <script src="../Scripts/Bootstrap/bootstrap.min.js"></script>
    <!-- script section ends -->
</body>

</html>